<header>
  <!-- main container wrapper -->
  <div class="container-fluid mainContainer">
    <!-- legend section   -->
    <div class="row legend">
      <!-- legend introduction text -->
      <div class="col legend__text">
        <div class="introText">
          <h1 class="introText__heading">
            Shop <span>slightly used </span>furniture <span>&</span> home
            decors.
          </h1>
          <p class="introText__link">
            <a href="#Visit"
              >Check out our collection <i class="fas fa-arrow-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <!-- footer section  -->
  </div>
  <!-- <footer class="footer">
              <p class="footer__text">
                Created by
                <a
                  href="https://www.facebook.com/hel0.o812/"
                  target="_blank"
                  rel="noopener"
                  >Duy Anh Tran</a
                >
                &copy;2023
              </p>
            </footer> -->
</header>
<div class="container">
  <!-- Home cards 1 -->
  <section class="home-cards">
    <button class="cart btn">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/o1cn01k8jt7d2b52w3zdqsl-2209790088286-0-cib.jpg?v=1676964259580"
        alt=""
      />
      <div class="text-sm">
        <h5>Thêm Sản Phẩm</h5>
        <a class="p-3" href="/add"> Thêm Ngay </a>
      </div>
    </button>
    <button class="cart btn">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ghe-marenco-8.jpg?v=1669188667340"
        alt=""
      />
      <div class="text-sm">
        <h5>Sửa Sản Phẩm</h5>
        <a class="p-3" href="update"> Sửa Ngay </a>
      </div>
    </button>
    <button class="cart btn">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/timber-nau-dam-6.png?v=1676964259580"
        alt=""
      />
      <div class="text-sm">
        <h5>Xóa Sản Phẩm</h5>
        <a class="p-3" href=""> Xóa Ngay </a>
      </div>
    </button>
  </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
